
<div class="container mb-5">
	<% @bookmarks.each_with_index do |bookmark, i| %>
		<div class = "col-6 row p-0">
					<div class="col-6 img-fluid p-0">
						<%= url_for(post.image) %>
					</div>
				<div class ="bg-white d-flex flex-column col-6 text-square <%= order(i) %> px-3 pb-3 pt-1 justify-content-between">
					<div>
						<p class="post-title-show"><%= bookmark.post.title %></p>
						<p><%= truncate("#{bookmark.post.text}", :length => 105) %></p>
					</div>
			</div>
		</div>
	<% end %>

</div>