<div class="container mt-4">
  <div class="container-fluid px-0 py-0">
    <div class ="px-0 my-0 d-flex col-12">
      
      <div class="image col-3 px-0">
          <a href="#"><img class="img" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1573232834-4168N2DeHVL.jpg" alt="Card image cap"></a>
      </div>
      
      <div class="col-3 px-0 py-0 bg-white">
        <div class="px-2 py-0 bg-white">
          <p class="bold txt text-decoration pt-3">FICTION</p>
          <p class="bold text-dark text-decoration">salt slow</p>
          <p class="text-dark text-center pb-0">All of them unfettered from the demands of realism, Armfield considers womanhood and its visceral discontents. Puberty produces a monstrous transformation; a post-apocalyptic pregnancy. Fusing genres with supernatural grace, Armfield takes the discourse about inhabiting a female body to spooky, surprising places.</p>
        </div>
      </div>

      <div class="image col-3 px-0">
        <a href="#"><img class="img" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1576103014-51pQbLT0AiL.jpg" alt="Card image cap"></a>
      </div>

      <div class="border-0 col-3 px-0  bg-white">
        <div class="px-2 py-3  bg-white">
          <p class="bold txt text-decoration">HORROR</p>
          <p class="bold txt-cards text-dark text-decoration">The Other Americans</p>
          <p class="text-dark text-center">All of them unfettered from the demands of realism, Armfield considers womanhood and its visceral discontents. Fangirls turn rabid; puberty produces a monstrous transformation; a post-apocalyptic pregnancy isn’t what it seems. Fusing genres with supernatural grace, Armfield takes the discourse about inhabiting a female body to spooky, surprising places.</p>
        </div>
      </div>

    </div>

    <div class ="px-0 my-0 d-flex col-12">
      <div class="border-0 col-3 px-0 bg-white">
        <div class="border-0 px-3 py-3 bg-white">
          <p class="bold txt text-decoration">ROMANCE</p>
          <p class="bold txt-cards text-dark text-decoration">Mostly Dead Things</p>
          <p class="text-dark text-center">Florida’s literary renaissance charges onward with this heartfelt, one-of-a-kind novel about a family launched into tragicomic dissolution by the suicide of its patriarch. When grief threatens to sink the family taxidermy business, one daughter must rally her eccentric family members to keep it afloat.</p>
        </div>
      </div>
      
      <div class="image col-3 px-0">
          <a href="#"><img class="img" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1576102875-41-mJjyo0VL.jpg" alt="Card image cap"></a>
      </div>
      
      <div class="border-0 col-3 px-0  bg-white">
        <div class="px-3 bg-white">
          <p class="bold txt text-decoration pt-3">MISTERY</p>
          <p class="bold txt-cards text-dark text-decoration">A Cosmology of Monsters</p>
          <p class="text-dark text-center">H.P. Lovecraft meets Stephen King in this spooky debut novel about a family of haunted house proprietors who are haunted across generations by monsters—and not the hokey jump-scare kind. Hamill has crafted an ambitious, spellbinding horror novel for the ages, one where the looming specters of ambition, obsession, and loss are every bit as terrifying as the flesh-and-blood monsters themselves.</p>
        </div>
      </div>

      <div class="image col-3 px-0">
        <a href="#"><img class="img" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1573232935-51nXVbkq76L.jpg" alt="Card image cap"></a>
      </div>


    </div>
  </div>
</div>