<div class="container-fluid px-0">
  <%= render 'home/carrousel' %>
</div>

<div class="container">
 <%= render './posts/search_by', class:'pb-3' %>
</div>

<div class="container-fluid px-0 pt-4">
    <div class="container">
      <%= render 'home/video', class:'' %>
    </div>
</div>

<div class="container-fluid px-0 ">
    <div class="container">
      <%= render 'home/mosaic', class:'' %>
    </div>
</div>
