<div class="container-fluid">
  <%= render 'posts/carrousel' %>
</div>

<div class="container-fluid px-0 pt-4">
    <div class="container">
      <%= render 'posts/video', class:'' %>
    </div>
</div>

<div class="container-fluid px-0">
    <div class="container">
      <%= render 'posts/mosaic', class:'' %>
    </div>
</div>
