<div id="category">
  <% @posts.each do |post| %>
    <% if post.image.attached? %>
        <%= link_to image_tag(post.resized_image, class:'img-fluid'), post_path(post, category: @category_name, order: @order) %>
      <% else %>
    <div style="width: 220px; height: 435px">
      <%= link_to post.title, post %>
    </div>
    <% end %>
  <% end %>
</div>