<div class="container-fluid mb-5">
  <div class="card my-3 py-5 mb-5 px-5">
    <div class="card-horizontal">
        <div class="col-5 img-square-wrapper">
            <%= post.image %>
        </div>
        <div class="card-body col-7">
            <h4 class="card-title text-center"><%= link_to post.title, post_path(post) %></h4>
          <div class="container my-5 py-3">
          </div>
        </div>
    </div>
        <div class="container mb-3"></div>
  </div>
</div>