<%
=begin%>
 <div class="container-fluid px-0 pb-2"> 
  <div class="container pb-3"> 
    <%= render 'posts/search_by', class: 'container' %>
  </div> 
<%
=end%>
  <div class="container pb-3">  
    <%= render 'posts/categories', class:'pb-3' %> 
  </div> 
</div>
