<div class="container bg-secondary mb-3">
  <div class="bg-secondary mb-3">
    <div class="container bg-white rounded">
        <div class="container">
          <div class="container">
            <div class="cantainer">
              <h1 class="bold ml-4 pl-3 display-4">New Post</h1>
            </div>
            <%= render 'form', post: @post %>
          </div>
        </div>
    </div>
  </div>
</div>