<div class="container">
  <div class="container">
    <h1 class="bold mb-5">New Post</h1>

    <div class="container my-5">
      <%= render 'form', post: @post %>
    </div>

    <div class="container">
      <div class="container ml-3">
        <%= link_to 'Back', posts_path, class: 'btn btn-warning'%>
      </div>
    </div>

  </div>
</div>