
<div class="container-fluid">
  <div class="container-fluid d-flex px-0">
    <%= image_tag(@post.image, class:'img') %>
    <div class="px-5 py-3 bg-white">
      <h2><%= @post.title %></h2>
      <%= @post.text %>
    </div>
  </div>
  <div class="mx-auto mt-4 text-show text-justify">
    <%= link_to 'Back', root_path, class:'btn btn-warning' %>
  </div>
</div>
