/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "actiontext.scss";
@import "categories.scss";
@import "posts.scss";
body {
    background-color: #4e443e;
}

footer {
    background-color: #1a1f24;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100vw;
}

a {
    color: #fd6000;
    text-decoration: none;
}

.txt,
.time {
    color: #fd6000;
}

.btnc {
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #fd6000;
    text-decoration: none;
}

.grr2 {
    width: 40vw;
    height: 60vh;
}

.grr3 {
    width: 17vw;
    height: 45vh;
}

.img {
    height: 433px;
    width: 270px;
}