<div class="container bg-white mt-5 rounded">
  <div class="container py-5">
    <div class="container-fluid ml-5 pl-5 mr-5 pr-5">
      <div class="container-fluid ml-5 pl-5 mr-5 pr-5">
        <div class="container-fluid ml-5 pl-5 mr-5 pr-5">
          <h1 class="bold px-5 mx-5">New Category</h1>
          <%= render 'form', category: @category %>

        </div>
      </div>
    </div>
  </div>
</div>
